.A_Filter {
  display: inline-flex;
  padding: 6px 24px 10px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1.5px solid var(--wise_owl);
}
.A_Tag {
  font-size: 1.38rem;
  font-family: 'HelveticaNeueCyr';
  line-height: 3.7vh;
  color: var(--warm_ceramics, #e78b5d);
  border-radius: 4px;
  border: 1.5px solid var(--warm_ceramics, #e78b5d);
  padding: 0 0.83vw;
  background: var(--paper_card, #fffbf4);

  &:hover {
    transition: 0.3s;
    color: #fbe8c7;
    background-color: #f19b70;
  }
}

.A_BannerTextContent {
  margin: auto;
  font-size: 2.75rem;
  text-align: center;
  

  .Q_BannerText { 
    line-height: 115%;
    font-size: 2.75rem;
    font-weight: 400;
    font-family: 'TT Livret Subhead';
    
    &.Line1 {
      font-style: normal;
    }
    &.Line2 {
      font-style: italic;
    }
  }
}

.A_ImageLibrary {
  height: 100%;
  width: 100%;
  display: flex;
}

.A_Tag {
  font-size: 1.38rem;
  font-family: "HelveticaNeueCyr";
  line-height: 3.7vh;
  color: var(--warm_ceramics, #E78B5D);
  border-radius: 4px;
  border: 1.5px solid var(--warm_ceramics, #E78B5D);
  padding: 0 0.83vw;
  background: var(--paper_card, #FFFBF4);

  &:hover {
    transition: 0.3s;
    color: #fbe8c7;
    background-color: #f19b70;
  }
}

.A_ImageArticle {
  width: 36.98vw;
  height: 31.85vh;
  margin-bottom: 1.85vh;
  margin-left: 1.04vw;

  img {
    width: 36.98vw;
    height: 31.85vh;
  }
}

// .A_ImageSeleb1 {
//   width: 29.64vw;
//   height: 43.61vh;
// }

.A_TestSectIMG {
  position: absolute;
  z-index: -1;
}

.A_TestTitle {
  display: flex;
  flex-direction: column;
  align-items: center;        
}






