.A_Filter {
  display: inline-flex;
  padding: 6px 24px 10px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1.5px solid var(--wise_owl);
}
.A_Tag {
  font-size: 1.38rem;
  font-family: 'HelveticaNeueCyr';
  line-height: 3.7vh;
  color: var(--warm_ceramics, #e78b5d);
  border-radius: 4px;
  border: 1.5px solid var(--warm_ceramics, #e78b5d);
  padding: 0 0.83vw;
  background: var(--paper_card, #fffbf4);

  &:hover {
    transition: 0.3s;
    color: #fbe8c7;
    background-color: #f19b70;
  }
}
