.С_CardsNotes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.C_CardOnMain {
  width: 100%;
  justify-content: space-between;
  gap: 1.56vw;
  display: flex;
  margin-top: 5vh;

  .O_CardScent {
    width: 18.75vw;
    height: 100%;
    padding-bottom: 3vh;
    border-radius: 4px;
    background-color: var(--paper_card, #fffbf4);
    justify-content: center;
    overflow: hidden;

    .A_ImageLibrary {
      height: 100%;
      width: 100%;
      display: flex;
    }

    .M_Tags {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      margin-top: 0.74vh;

      .A_Tag {
        font-size: 1.38rem;
        font-family: 'Helvetica Neue';
        line-height: 3.7vh;
        color: var(--warm_ceramics, #e78b5d);
        border-radius: 4px;
        border: 1.5px solid var(--warm_ceramics, #e78b5d);
        padding: 0 0.83vw;
        background: var(--paper_card, #fffbf4);

        &:hover {
          transition: 0.3s;
          color: #fbe8c7;
          background-color: #f19b70;
        }
      }
    }
  }
}

.C_MainPageArticles {
  display: flex;
  margin-top: 5vh;
  overflow: hidden;

  .W_ArticlesCards {
    display: flex;
    flex-direction: row;

    .W_ArticlesCards_right {
      margin-left: 1vw;
      margin-top: 11.11vh;
    }

    .W_ArticlesCards_left,
    .W_ArticlesCards_right {
      display: flex;
      flex-direction: column;
      height: 100%;

      .O_CardArticle {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 4px;
        border: 1.5px solid var(--wise-owl, #ccbba3);
        background: var(--book-paper, #faf1e4);
        // Отступы не работают
        // padding-top: 1.85vh;
        // padding-bottom: 1.85vh;
        // padding-left: 1.04vw;
        // padding-right: 1.04vw;
        margin-bottom: 5.65vh;

        width: 39.06vw;

        .M_Tags {
          display: inline-flex;
          gap: 0.42vw;
          margin-bottom: 1.5vh;
          margin-top: 1.85vh;
          margin-left: 1.04vw;

          .A_Tag {
            font-size: 1.38rem;
            font-family: 'Helvetica Neue';
            color: #e78b5d;
            border-radius: 4px;
            border: 1.5px solid var(--warm_ceramics, #e78b5d);
            background: var(--book-paper, #faf1e4);
            height: 4.07vh;
            padding: 0px 0.83vw;
            line-height: 4.07vh;

            &:hover {
              transition: 0.3s;
              color: #fbe8c7;
              background-color: #f19b70;
            }
          }
        }

        h3 {
          display: flex;
          margin-bottom: 1.85vh;
          margin-left: 1.04vw;
        }

        .A_ImageArticle {
          width: 36.98vw;
          height: 31.85vh;
          margin-bottom: 1.85vh;
          margin-left: 1.04vw;

          img {
            width: 36.98vw;
            height: 31.85vh;
          }
        }
      }
    }
  }
}

.C_MainPageCelebrity {
  display: flex;
  margin-top: 5vh;
  overflow: hidden;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;

  .O_CardStar {
    overflow: hidden;
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--wise-owl, #ccbba3);

    .M_Tags {
      display: inline-flex;
      gap: 0.42vw;
      margin-bottom: 1.5vh;
      margin-top: 1.85vh;
      margin-left: 1.04vw;
      justify-content: flex-start;

      .A_Tag {
        font-size: 1.38rem;
        font-family: 'Helvetica Neue';
        color: #e78b5d;
        border-radius: 4px;
        border: 1.5px solid var(--warm_ceramics, #e78b5d);
        background: var(--book-paper, #faf1e4);
        height: 4.07vh;
        padding: 0px 0.83vw;
        line-height: 4.07vh;

        &:hover {
          transition: 0.3s;
          color: #fbe8c7;
          background-color: #f19b70;
        }
      }
    }

    .A_ImageSeleb1 {
      width: 29.64vw;
      height: 43.61vh;
    }

    h3 {
      margin-top: 29.72vh;
      margin-left: 1.04vw;
      margin-bottom: 1vw;
      text-align: left;
      width: 15vw;
    }
  }

  .O_CardStarSecType {
    margin-left: 1.56vw;
    margin-top: 11.11vh;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--wise-owl, #ccbba3);

    .W_CardStarUpContent {
      display: flex;
      flex-direction: row;
      gap: 1.3vw;

      .A_ImageSeleb1 {
        margin-bottom: 1.5vh;
        margin-top: 1.85vh;
        margin-right: 1.04vw;
      }
    }

    .W_CardStarBottomContent {
      width: 22vw;
      margin-top: 6.2vh;
      margin-left: 1.04vw;

      h3 {
        text-align: left;
        margin-bottom: 1.85vh;
      }
    }

    .M_Tags {
      display: inline-flex;
      gap: 0.42vw;
      margin-bottom: 1.5vh;
      margin-top: 1.85vh;
      margin-left: 1.04vw;

      .A_Tag {
        font-size: 1.38rem;
        font-family: 'Helvetica Neue';
        color: #e78b5d;
        border-radius: 4px;
        border: 1.5px solid var(--warm_ceramics, #e78b5d);
        background: var(--book-paper, #faf1e4);
        height: 4.07vh;
        padding: 0px 0.83vw;
        line-height: 4.07vh;

        &:hover {
          transition: 0.3s;
          color: #fbe8c7;
          background-color: #f19b70;
        }
      }
    }
  }
}

.C_CardsArticle {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;

  .O_CardArticle {
    margin-bottom: 0;

    h3 {
      color: var(--almost_black, #302b29);

      /* h3_CardHeader */
      font-family: 'TT Livret Subhead';
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%; /* 50.6px */
    }
  }
}

.C_ArticleContent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  width: 100%;
  // position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #faf1e4;
}

.C_CoverBgImg {
  position: absolute;
  margin-top: 6vh;
  z-index: -2;
}

.C_ArcBg {
  margin-top: 9vh;
  position: absolute;
  margin-left: -10.16vw;
  z-index: -1;

  .A_ArcBg {
    width: 100%;
    height: 100%;
    overflow: hidden;
// подумать над тем как именно будет масштабироваться картинка??
    img {
      height: 98.15vh;
      width: 100vw;
    }
  }
}

.C_BlockSeleb {
  margin-top: 3.7vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 37px;
  grid-row-gap: 30px;

  .O_CardStarSecType {
    margin-top: 0px;
    margin-left: 0px;

    .M_Tags {
      justify-content: left;
    }
  }

  .O_CardStar {
    .M_Tags {
      justify-content: left;
    }
  }

  .O_CardStar { grid-area: 1 / 1 / 2 / 8; }
  .O_CardStarSecType { grid-area: 1 / 8 / 2 / 13; } 

}


.C_BlockLiterature {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  margin-top: 35px;

  .O_CardLiterature {
    width: 490px;
    height: 345px;
    border-radius: 4px;
    background-color: var(--paper_card, #FFFBF4);
  }

  .O_CardLiterature { grid-area: 1 / 1 / 2 / 5; }
  .O_CardLiterature:nth-of-type(2) { grid-area: 1 / 5 / 2 / 9; }
  .O_CardLiterature:nth-of-type(3) { grid-area: 1 / 9 / 2 / 13; }  

}



.C_CardsNotes {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  .O_CardScent { grid-area: 1 / 1 / 2 / 4; }
  .O_CardScent:nth-of-type(2) { grid-area: 1 / 4 / 2 / 7; }
  .O_CardScent:nth-of-type(3) { grid-area: 1 / 7 / 2 / 10; }
  .O_CardScent:nth-of-type(4) { grid-area: 1 / 10 / 2 / 13; }
  .O_CardScent:nth-of-type(5) { grid-area: 2 / 1 / 3 / 4; }
  .O_CardScent:nth-of-type(6) { grid-area: 2 / 4 / 3 / 7; }
  .O_CardScent:nth-of-type(7) { grid-area: 2 / 7 / 3 / 10; }
  .O_CardScent:nth-of-type(8) { grid-area: 2 / 10 / 3 / 13; }
  .O_CardScent:nth-of-type(9) { grid-area: 3 / 1 / 4 / 4; }
  .O_CardScent:nth-of-type(10) { grid-area: 3 / 4 / 4 / 7; }
  .O_CardScent:nth-of-type(11) { grid-area: 3 / 7 / 4 / 10; }
  .O_CardScent:nth-of-type(12) { grid-area: 3 / 10 / 4 / 13; }
  .O_CardScent:nth-of-type(13) { grid-area: 4 / 1 / 5 / 4; }
  .O_CardScent:nth-of-type(14) { grid-area: 4 / 4 / 5 / 7; }
  .O_CardScent:nth-of-type(15) { grid-area: 4 / 7 / 5 / 10; }
  .O_CardScent:nth-of-type(16) { grid-area: 4 / 10 / 5 / 13; }
  .O_CardScent:nth-of-type(17) { grid-area: 5 / 1 / 6 / 4; }
  .O_CardScent:nth-of-type(18) { grid-area: 5 / 4 / 6 / 7; }
  .O_CardScent:nth-of-type(19) { grid-area: 5 / 7 / 6 / 10; }
  .O_CardScent:nth-of-type(20) { grid-area: 5 / 10 / 6 / 13; }
  .O_CardScent:nth-of-type(21) { grid-area: 6 / 1 / 7 / 4; }
  .O_CardScent:nth-of-type(22) { grid-area: 6 / 4 / 7 / 7; }
  .O_CardScent:nth-of-type(23) { grid-area: 6 / 7 / 7 / 10; }
  .O_CardScent:nth-of-type(24) { grid-area: 6 / 10 / 7 / 13; }


  @media (max-width: 360px) {

    // НАПОМНИТЕ ПЕРЕПИСАТЬ ДЛЯ АДАПЬТИВОВО РЯЯ

    .parent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;


      .div1 { grid-area: 1 / 1 / 2 / 3; }
      .div2 { grid-area: 1 / 3 / 2 / 5; }
      .div3 { grid-area: 2 / 1 / 3 / 3; }
      .div4 { grid-area: 2 / 3 / 3 / 5; }
      .div5 { grid-area: 3 / 1 / 4 / 3; }
      .div6 { grid-area: 3 / 3 / 4 / 5; }
      .div7 { grid-area: 4 / 1 / 5 / 3; }
      .div8 { grid-area: 4 / 3 / 5 / 5; }
      .div9 { grid-area: 5 / 1 / 6 / 3; }
      .div10 { grid-area: 5 / 3 / 6 / 5; }
      .div11 { grid-area: 6 / 1 / 7 / 3; }
      .div12 { grid-area: 6 / 3 / 7 / 5; }
      .div13 { grid-area: 7 / 1 / 8 / 3; }
      .div14 { grid-area: 7 / 3 / 8 / 5; }
      .div15 { grid-area: 8 / 1 / 9 / 3; }
      .div16 { grid-area: 8 / 3 / 9 / 5; }
      .div17 { grid-area: 9 / 1 / 10 / 3; }
      .div18 { grid-area: 9 / 3 / 10 / 5; }
      .div19 { grid-area: 10 / 1 / 11 / 3; }
      .div20 { grid-area: 10 / 3 / 11 / 5; }
      .div21 { grid-area: 11 / 1 / 12 / 3; }
      .div22 { grid-area: 11 / 3 / 12 / 5; }
      .div23 { grid-area: 12 / 1 / 13 / 3; }
      .div24 { grid-area: 12 / 3 / 13 / 5; }
      }
      

    
  }



}


.C_BlockCharacters {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-top: 30px;

  .O_CardChar {
    width: 360px;
    height: 687px;
    border-radius: 4px;
    background: var(--paper_card, #FFFBF4);
    }
    
    .O_CardChar { grid-area: 1 / 1 / 2 / 4; }
    .O_CardChar:nth-of-type(2) { grid-area: 1 / 4 / 2 / 7; }
    .O_CardChar:nth-of-type(3) { grid-area: 1 / 7 / 2 / 10; }
    .O_CardChar:nth-of-type(4) { grid-area: 1 / 10 / 2 / 13; }
}

.C_TestShowcase {
  margin-top: 3.33vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  align-content: start;

  h1 {
    margin-top: 1.67vw;
  }

  .M_Tags {
    justify-content: start;
  }

  p {
    margin-top: 2.5vw;
  }

  .A_buttonPrimary {
    display: flex;
    width: 220px;
    height: 60px;
    max-width: 490px;
    padding: 14px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    margin-top: 3.44vw;

    a {
      text-decoration: none;
      color: var(--paper_card, #FFFBF4);
      text-align: center;    
    }

    }


    
  .A_TestShow { grid-area: 1 / 1 / 2 / 7; }
  .W_TestShowDescr { grid-area: 1 / 8 / 2 / 13; }
}


.C_TestCards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 2.08vw;

  .O_CardTest {
    width: 25.52vw;
    height: 27.6vw;
    border-radius: 4px;
    border: 1.5px solid var(--wise_owl, #CCBBA3);
    background-color: var(--book-paper, #FAF1E4);    

  
  }

    
  .O_CardTest { grid-area: 1 / 1 / 2 / 5; }
  .O_CardTest:nth-of-type(2) { grid-area: 1 / 5 / 2 / 9; }
  .O_CardTest:nth-of-type(3) { grid-area: 1 / 9 / 2 / 13; }
  .O_CardTest:nth-of-type(4) { grid-area: 2 / 1 / 3 / 5; }
  .O_CardTest:nth-of-type(5) { grid-area: 2 / 5 / 3 / 9; }
  .O_CardTest:nth-of-type(6) { grid-area: 2 / 9 / 3 / 13; }
  .O_CardTest:nth-of-type(7) { grid-area: 3 / 1 / 4 / 5; }
  .O_CardTest:nth-of-type(8) { grid-area: 3 / 5 / 4 / 9; }
  .O_CardTest:nth-of-type(9) { grid-area: 3 / 9 / 4 / 13; }
  
  }
  
  