.M_Filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin: 0 auto;

  @media (max-width: 390px) {
    gap: 8px;
  }
}

.M_H2All {
  margin-left: 20.05vw; //385px

    .Q_H2AllText {
      inherits: h2;
      &.Line2 {
        font-style: italic;
        margin-left: 6.77vw; //130px
      }
      
      &.Line2_1 {
        font-style: italic;
        margin-left: 21vw; //389px
      }
    }

}

.M_Tags {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.74vh;

    .A_Tag {
      font-size: 1.38rem;
      font-family: "HelveticaNeueCyr";
      line-height: 3.7vh;
      color: var(--warm_ceramics, #E78B5D);
      border-radius: 4px;
      border: 1.5px solid var(--warm_ceramics, #E78B5D);
      padding: 0 0.83vw;
      background: var(--paper_card, #FFFBF4);

      &:hover {
        transition: 0.3s;
        color: #fbe8c7;
        background-color: #f19b70;
      }
    }
}


.M_TestTitle {
  margin-top: 5vh;
  
  .A_TestTitle {
    display: flex;
    flex-direction: column;
    align-items: center;        
  }
}

.M_NewsFooter , .M_Authors , .M_Curators {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.M_NewsFooter {

  & :nth-child(2) {
    margin-left: 2.6vw;
  }

  & :nth-child(3) {
    margin-left: 10.47vw;
  }

}

.M_Authors {
  margin-left: 17.88vw;
  margin-right: 7.85vw;
}

.M_SocialIcons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-left: 5.82vw;

  img {
    height: 40px;
    width: 40px;
  }

  div {
    height: 40px;
    width: 40px;
    background-color: aquamarine;
  }
}

.M_Curators , .M_Authors {

  a {
    color: #302B29;
  }

}

.M_InputAndButton {
  margin-top: 2vh;
  display: flex;
  gap: 1.56vw;
}



