* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.SO_Wrap {
  width: 79.69vw;
}
.body {
  background: var(--book_paper);
  overflow: hidden;
}

h1 {
  font-family: 'TT Livret Subhead Italic';
  font-size: 100px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 100px */

  span {
    font-family: 'TT Livret Subhead';
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 100px */
  }
}

h2 {
  font-family: 'TT Livret Subhead';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
}

h3 {
  font-family: 'TT Livret Subhead';
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 50.6px */

  span {
    font-family: 'TT Livret Subhead Italic';
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%; /* 100px */
  }
}

h5 {
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
}

p {
  font-family: 'Helvetica Neue';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
// html,
// body {
//   height: 100%;
// }

// body {
//   font-family: Helvetica, Arial, sans-serif;
//   font-weight: 400;
// }

// .images {
//   display: flex;

//   * {
//     width: 24px;
//     height: 24px;
//     margin: 0 10px;
//   }

//   .image {
//     &#bgPNG {
//       background-image: url('images/image.png');
//     }

//     &#bgJPG {
//       background-image: url('images/image.jpg');
//     }

//     &#bgSVG {
//       background-image: url('images/image.svg');
//     }
//   }
// }
