@font-face {
  font-family: 'TT Livret Subhead';
  src: url('./fonts/TTLivretSubheadRegular.woff2') format('woff2'),
    url('./fonts/TTLivretSubheadRegular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Livret Subhead Italic';
  src: url('./fonts/TTLivretSubheadItalic.woff2') format('woff2'),
    url('./fonts/TTLivretSubheadItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
// исправить 16 строку, не совпадает
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/helveticaneuecyr_roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
