.O_Header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79.69vw;
  height: 4.69vw; //90px
  border-bottom: 1px solid #CCBBA3;

  .M_MenuItemsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    // margin: 0 15vw 0 0;

    a {
      color: var(--almost-black);
      /* p_Maintext */
      // Сбрасываем стили ссылки

      font-family: HelveticaNeueCyr;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: var(--dusty_brick);
      }
    }
  }
  .Q_Search {
    &:hover {
      color: var(--almost-black);
    }
  }

  .Q_Logo {
    // margin: 0 14vw 0 0;
  }


}
