body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }
}

.test_div {
  height: 200px;
  width: 300px;
  background-color: aqua;
}
