body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--book_paper);

  // .Q_LineHeader {
  //   width: 100%;
  //   border: 1px solid #CCBBA3;
  // }

  h2 {
    color: var(--almost_black, #302B29);
    /* h2 */
    font-family: "TT Livret Subhead";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 64px */
  }
  h3 {
    color: var(--almost-black, #302b29);
    text-align: center;
    /* h3_CardHeader */
    font-family: 'TT Livret Subhead';
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 57.6px */
  }
  p {
    color: var(--almost-black);
    /* p_Maintext */
    font-family: "helveticaneuecyr_roman";
    font-size: 1.38rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;


    // Тут не надо хавер! а то у нас вообще весь текст красится на странице
    // &:hover {
    //   cursor: pointer;
    //   color: var(--dusty_brick);
    // }
  }
  a {
    text-decoration: none;
    color: var(--almost-black, #E78B5D);
    font-family: "HelveticaNeueCyr";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: var(--dusty_brick, #E78B5D);
    }
  }


  h4 {
    color: var(--almost-black, #302b29);
    /* H4_Filtration */
    font-family: 'TT Livret Subhead';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      cursor: pointer;
      color: var(--dusty_brick);
    }
  }

  
  


// Количество картиночек внутри слайдера-карусели
    $nb-slides: 5;

    .line {
      width: 100%;
    }

    .flex {
      display: flex;
    }

    .center {
      @extend .flex;
      align-items: center; // horizontal
      justify-content: center; // vertical
    }


    .carousel-wrapper {
      @extend .flex;
      position: relative;
      max-width: 80.21vw;
      margin: 30px;

      input {
        display: none;
      }
    }


    // Сам слайдер с картинками
    .carousel {
      @extend .line;
      overflow: hidden;
      border-radius: 8px;

      ul {
        @extend .center;
        position: relative;
        list-style: none;
        overflow: hidden;

        margin: 0;
        padding: 0 auto;
        height: 40vh;
        width: 100% * $nb-slides;

        transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
      }

      li {
        @extend .line;

        img {
          @extend .line;
          border-radius: 8px;
        }
      }
    }


// Точки снизу
    .nav-dot {
      $dot-size: 0.63vw;
      position: absolute;
      cursor: pointer;

      margin-left: -$dot-size / 2;
      bottom: -$dot-size * 2.2;
      width: $dot-size;
      height: $dot-size;

      opacity: 0.5;
      background-color: #CCBBA3;
      border-radius: 50%;
      transition: .4s;

      &:hover {
        opacity: 0.8;
        transform: scale(1.2);
        background-color: #E78B5D;
      }

      &:active {
        background-color: #E78B5D;
        transform: scale(0.9);
      }
    }

// goes from 1 to 5.
    @for $n from 1 through $nb-slides {
      // arranges the navigation dots horizontally
      .nav-dot[for=slide#{$n}] {
        left: 50% + ((($n - 1) - (($nb-slides - 1)/ 2)) * 5%);
      }

      #slide#{$n}:checked {
        // moves the carousel to the right slide
        & ~ .carousel ul { left: -100% * ($n - 1) }

        // highlights the selected navigation dot
          & ~ .nav-dot[for=slide#{$n}] {
          opacity: 1;
        }
      }
    }


    // Стрелки чтобы листать

    %arrow {
      $arrow-size: 5.56vh;
      display: none;  // hidden by default
      position: absolute;

      cursor: pointer;
      font-weight: 400;


      top: 50%;
      z-index: 1;
      opacity: .7;
      margin-top: -$arrow-size / 2;
      height: $arrow-size;
      font-size: $arrow-size;
      transition: .2s;

      
  

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .left-arrow {
      @extend %arrow;
      left: 1vw;
      color: #CCBBA3;
    
    }

    .right-arrow {
      @extend %arrow;
      right: 1vw;
      color: #CCBBA3;
    }

    @function custom-modulo($n) {
      // this function returns '$n % $nb-slides', except that if the result is 0,
      // '$nb-slides' is returned.
      // for exemple, for $nb-slides = 4, possible values are {1, 2, 3, 4}
      // (and not {0, 1, 2, 3}).
      @return 1 + ($nb-slides + (($n - 1) % $nb-slides)) % $nb-slides;
    }

    @for $n from 1 through $nb-slides {
      // when the nth slide is selected,
      // displays the left-arrow that goes to the (n-1)th slide
      // and the right arrow that goes to the (n+1)th slide.
      // don't worry, it loops thanks to the 'custom-modulo' function !

      #slide#{$n}:checked {
      & ~ .left-arrow[for=slide#{custom-modulo($n - 1)}],
        & ~ .right-arrow[for=slide#{custom-modulo($n + 1)}] {
          display: block;
        }
      }
    }


    // Баннер с описанием а что вообще это такое
    .O_BannerAbout {
      width: 100%;
      display: flex;
  
      .A_BannerImageContent {
        margin: auto 0;
        width: 18.75vw;
        height: 29.63vh;
        overflow: hidden;
        display: flex;
        align-content: center;
        justify-content: center;
      }
  
      .A_BannerTextContent {
        margin: auto;
        font-size: 2.75rem;
        text-align: center;
        
  
        .Q_BannerText { 
          line-height: 115%;
          font-size: 2.75rem;
          font-weight: 400;
          font-family: 'TT Livret Subhead';
          
          &.Line1 {
            font-style: normal;
          }
          &.Line2 {
            font-style: italic;
          }
        }
      }
    }

    // Блок про библиотеку ароматов

    .SO_NotesMainPage {
      width: 100%;
      margin: 6vh 0;


        .W_H2AllButton {
          display: flex;
          align-items: flex-end;
          gap: 7.71vw;

            .M_H2All {
              margin-left: 20.05vw; //385px

                .Q_H2AllText {
                  inherits: h2;
                  &.Line2 {
                    font-style: italic;
                    margin-left: 6.77vw; //130px
                  }
                  
                  &.Line2_1 {
                    font-style: italic;
                    margin-left: 21vw; //389px
                  }
                }

            }
        }

        .PopCult {
          gap: 13.8vw;        
        }

        .Library {
          gap: 6vw;        
        }
    }



    // Стили для карточек с ароматами

    .C_CardOnMain {
      width: 100%;
      justify-content: space-between;
      gap: 1.56vw;
      display: flex;
      margin-top: 5vh;
      

        .O_CardScent {
          width: 18.75vw;
          height: 100%;
          padding-bottom: 3vh;
          border-radius: 4px;
          background-color: var(--paper_card, #FFFBF4);
          justify-content: center;
          overflow: hidden;


            .A_ImageLibrary {
              height: 100%;
              width: 100%;
              display: flex;
            }

            .M_Tags {
              display: inline-flex;
              justify-content: center;
              width: 100%;
              margin-top: 0.74vh;

                .A_Tag {
                  font-size: 1.38rem;
                  font-family: "HelveticaNeueCyr";
                  line-height: 3.7vh;
                  color: var(--warm_ceramics, #E78B5D);
                  border-radius: 4px;
                  border: 1.5px solid var(--warm_ceramics, #E78B5D);
                  padding: 0 0.83vw;
                  background: var(--paper_card, #FFFBF4);

                  &:hover {
                    transition: 0.3s;
                    color: #fbe8c7;
                    background-color: #f19b70;
                  }
                }
            }
        }
    }

    // Стили для карточек статей

    .C_MainPageArticles {
      display: flex;
      margin-top: 5vh;
      overflow: hidden;

      .W_ArticlesCards {
        display: flex;
        flex-direction: row;

        .W_ArticlesCards_right {
          margin-left: 1vw;
          margin-top: 11.11vh;
        }
        

        .W_ArticlesCards_left , .W_ArticlesCards_right {
          display: flex;
          flex-direction: column;
          height: 100%;

          .O_CardArticle {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 4px;
            border: 1.5px solid var(--wise-owl, #CCBBA3);
            background: var(--book-paper, #FAF1E4);
            // Отступы не работают
            // padding-top: 1.85vh;
            // padding-bottom: 1.85vh;
            // padding-left: 1.04vw;
            // padding-right: 1.04vw;
            margin-bottom: 5.65vh;

            width: 39.06vw;
            

            .M_Tags {
              display: inline-flex;
              gap: 0.42vw;
              margin-bottom: 1.5vh;
              margin-top: 1.85vh;
              margin-left: 1.04vw;
              

              .A_Tag {
                font-size: 1.38rem;
                font-family: "HelveticaNeueCyr";
                color: #E78B5D;
                border-radius: 4px;
                border: 1.5px solid var(--warm_ceramics, #E78B5D);
                background: var(--book-paper, #FAF1E4);
                height: 4.07vh;
                padding: 0px 0.83vw;
                line-height: 4.07vh;

                &:hover {
                  transition: 0.3s;
                  color: #fbe8c7;
                  background-color: #f19b70;
                }
              }
            }

            h3 {
              display: flex;
              margin-bottom: 1.85vh;
              margin-left: 1.04vw;
            }
            

            .A_ImageArticle {
              width: 36.98vw;
              height: 31.85vh;
              margin-bottom: 1.85vh;
              margin-left: 1.04vw;

              img {
                width: 36.98vw;
                height: 31.85vh;
              }
            }

          }
        }
      }
    }

    //Стили для попкульт раздела

    .C_MainPageCelebrity {
      display: flex;
      margin-top: 5vh;
      overflow: hidden;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-around;
      align-items: flex-start;
      
      .O_CardStar {
        display: flex;
        border-radius: 4px;
        border: 1px solid var(--wise-owl, #CCBBA3);

      
        .M_Tags {
          display: inline-flex;
          gap: 0.42vw;
          margin-bottom: 1.5vh;
          margin-top: 1.85vh;
          margin-left: 1.04vw;
          

          .A_Tag {
            font-size: 1.38rem;
            font-family: "HelveticaNeueCyr";
            color: #E78B5D;
            border-radius: 4px;
            border: 1.5px solid var(--warm_ceramics, #E78B5D);
            background: var(--book-paper, #FAF1E4);
            height: 4.07vh;
            padding: 0px 0.83vw;
            line-height: 4.07vh;

            &:hover {
              transition: 0.3s;
              color: #fbe8c7;
              background-color: #f19b70;
            }
          }
        }

        .A_ImageSeleb1 {
          width: 29.64vw;
          height: 43.61vh;
        }

        h3 {
          margin-top: 29.72vh;
          margin-left: 1.04vw;
          text-align: left;
          width: 15vw;
        }

        
      }

      .O_CardStarSecType {
        margin-left: 1.56vw;
        margin-top: 11.11vh;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid var(--wise-owl, #CCBBA3);

        .W_CardStarUpContent {
          display: flex;
          flex-direction: row;
          gap: 1.3vw;

          .A_ImageSeleb1 {
            margin-bottom: 1.5vh;
            margin-top: 1.85vh;
            margin-right: 1.04vw;

          }
        }

        .W_CardStarBottomContent {
          width: 22vw;
          margin-top: 6.2vh;
          margin-left: 1.04vw;
          
          h3 {
            text-align: left;
            margin-bottom: 1.85vh;
          }

        }



      
        .M_Tags {
          display: inline-flex;
          gap: 0.42vw;
          margin-bottom: 1.5vh;
          margin-top: 1.85vh;
          margin-left: 1.04vw;
          

          .A_Tag {
            font-size: 1.38rem;
            font-family: "HelveticaNeueCyr";
            color: #E78B5D;
            border-radius: 4px;
            border: 1.5px solid var(--warm_ceramics, #E78B5D);
            background: var(--book-paper, #FAF1E4);
            height: 4.07vh;
            padding: 0px 0.83vw;
            line-height: 4.07vh;

            &:hover {
              transition: 0.3s;
              color: #fbe8c7;
              background-color: #f19b70;
            }
          }
        }

        
      }
    }


    // Стили для раздела с тестами

    .Tests {
      display: flex;
      margin-top: 11.11vh;
      margin-bottom: 16vh;
    }

    .A_TestSectIMG {
      position: absolute;
      z-index: -1;
    }

    .O_TestMain {
      width: 39.06vw;
      height: 37.96vh;
      border-radius: 500px 500px 4px 4px;
      border: 1.5px solid var(--wise-owl, #CCBBA3);
      background: var(--book-paper, #FAF1E4);   
      margin: 0 11.25vw 0 19.31vw; 

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      .M_TestTitle {
        margin-top: 5vh;
        
        .A_TestTitle {
          display: flex;
          flex-direction: column;
          align-items: center;        
        }
      }


      .M_Tags {
        display: inline-flex;
        gap: 0.42vw;
        margin-top: 3vh;
        

        .A_Tag {
          font-size: 1.38rem;
          font-family: "HelveticaNeueCyr";
          color: #E78B5D;
          border-radius: 4px;
          border: 1.5px solid var(--warm_ceramics, #E78B5D);
          background: var(--book-paper, #FAF1E4);
          height: 4.07vh;
          padding: 0px 0.83vw;
          line-height: 4.07vh;

          &:hover {
            transition: 0.3s;
            color: #fbe8c7;
            background-color: #f19b70;
          }
        }
      }
    }



}
