:root {
  --book_paper: #faf1e4;
  --paper_card: #fffbf4;
  --wise_owl: #ccbba3;
  --warm_ceramics: #e78b5d;
  --dusty_brick: #e76423;
  --almost_black: #302b29;
  --sweet_pea: #d7ed99;
  --tea_rose: #f6bdbd;
}
